.body-container {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5c330;
    padding: 2px 10px;
    .logo {
      width: 114px;
      height: 114px;
      .logo-img {
        width: 100%;
        height: 100%;
      }
    }
    .name-list {
      .logout-btn {
        padding: 6px 16px;
        outline: none;
        background-color: #ffffff;
        border-radius: 4px;
        border: none;
        font-size: 14px;
        font-weight: 400;
      }
      .profile {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        margin-right: 16px;
      }
    }
  }
  .body-layout {
    display: flex;
    .main-container {
      width: 100%;
    }
    .sidebar {
      min-width: 180px;
      max-width: 240px;
      border-right: 1px solid #3333;
      width: 100%;
      height: calc(100vh - 64px);
      .menu-list {
        padding: 8px !important;
        .menu-item {
          padding: 8px 16px;
          margin-bottom: 5px;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
          &:hover,
          &.active {
            background-color: #f5c330;
            color: #ffffff;
            border-radius: 8px;
          }
        }
      }
    }
  }
  .wrapper {
    display: inline-flex;
    background: #fff;
    height: 100px;
    width: 400px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 20px 15px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    .option {
      background: #fff;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 0 10px;
      border-radius: 5px;
      cursor: pointer;
      padding: 0 10px;
      border: 2px solid lightgrey;
      transition: all 0.3s ease;
      .dot {
        height: 20px;
        width: 20px;
        background: #d9d9d9;
        border-radius: 50%;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          top: 4px;
          left: 4px;
          width: 12px;
          height: 12px;
          background: #0069d9;
          border-radius: 50%;
          opacity: 0;
          transform: scale(1.5);
          transition: all 0.3s ease;
        }
      }
    }
  }
  input[type="radio"] {
    display: none;
  }
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2 {
    border-color: #0069d9;
    background: #0069d9;
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot {
    background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before {
    opacity: 1;
    transform: scale(1);
  }
  .wrapper .option span {
    font-size: 20px;
    color: #808080;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span {
    color: #fff;
  }
}

.back-btn {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: #f5c330;
  }
}

.primary-btn {
  padding: 8px 16px;
  outline: none;
  background-color: #f5c330;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  &.disable {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.create-post-container {
  padding: 24px;
  .title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .label {
    display: block;
  }
  .form-field {
    margin-bottom: 10px;
    .input_field {
      width: 600px;
      border-radius: 8px;
      padding: 8px;
      border: 1px solid #d1d1d1;
    }
  }
  .wrapper_field {
    .wrapper {
      width: 230px;
      height: 40px;
      padding: 0px;
      margin-top: 6px;
      box-shadow: none;
      .option {
        &.option-1 {
          margin-left: 0px;
        }
        .dot {
          width: 15px;
          height: 15px;
          &:before {
            top: 3px;
            left: 3px;
            width: 9px;
            height: 9px;
          }
        }
        span {
          font-size: 14px;
        }
      }
    }
  }
  .primary-btn {
    margin-top: 20px;
  }
  .field_label {
    font-size: 16px;
    font-weight: 500px;
    padding-bottom: 6px;
  }
}
.post-container {
  .card {
    max-width: 424px;
    width: 100%;
    overflow-x: hidden;
    .header-btn {
      padding: 14px !important;
      background: #ffff;
      border-top-right-radius: 4px;
      border-top-left-radius: 6px;
      border-bottom: 1px solid #d9d9d9;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .card-btn {
        padding: 2px 8px;
        font-size: 14px;
        border: 1px solid #979797;
        background: white;
        border-radius: 4px;
        &.save-post-btn {
          background-color: #f5c330;
          border: none;
        }
        &:first-child {
          margin-right: 8px;
        }
      }
    }
    .post-image {
      width: 424px;
      height: 424px;
      img {
        width: 100%;
        cursor: pointer;
      }
    }
    .post-content {
      padding: 16px;
      max-height: 150px;
      overflow: hidden;
      &.more {
        height: 100%;
      }
      .content {
        margin-bottom: 10px;
        height: 100%;
        overflow: hidden;
        margin-bottom: 10px;
      }
      .tags {
        .post-hashtag {
          color: #3c7fc7;
          margin-right: 6px;
        }
      }
    }
    .more-btn {
      display: flex;
      justify-content: flex-end;
      button {
        margin-bottom: 10px;
        background: transparent;
        width: 100px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        color: #f5c330;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.modal-dialog {
  .modal-content {
    .modal-body {
      max-height: calc(100vh - 240px) !important;
      overflow-y: scroll;
      .editTag {
        span {
          padding: 4px;
          border: 1px solid #92929233;
          border-radius: 4px;
          display: inline-block;
          width: fit-content;
          margin: 4px;
          .cros-btn {
            padding: 0px 4px 3px !important;
            border-radius: 50%;
            background: #5a5a5a;
            color: white;
            line-height: 19px;
            text-align: center;
            margin-left: 4px !important;
            cursor: pointer;
          }
        }
      }
    }
    .modal-footer {
      .btn-secondary {
        background-color: #fff;
        color: #333;
      }
      .btn-primary {
        border: none;
        background-color: #f5c330;
      }
    }
  }
}
.allpost {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .post-container {
    margin: 10px;
  }
}
.required {
  color: #808080;
}
